/* ==========
VARIABLES
========== */
:root {
  --background: rgb(231, 229, 228);
  --foreground: rgb(30, 41, 59);
  --card: rgb(245, 245, 244);
  --card-foreground: rgb(30, 41, 59);
  --popover: rgb(245, 245, 244);
  --popover-foreground: rgb(30, 41, 59);
  --primary: rgb(99, 102, 241);
  --primary-foreground: rgb(255, 255, 255);
  --secondary: rgb(214, 211, 209);
  --secondary-foreground: rgb(75, 85, 99);
  --muted: rgb(231, 229, 228);
  --muted-foreground: rgb(107, 114, 128);
  --accent: rgb(243, 229, 245);
  --accent-foreground: rgb(55, 65, 81);
  --destructive: rgb(239, 68, 68);
  --destructive-foreground: rgb(255, 255, 255);
  --border: rgb(214, 211, 209);
  --input: rgb(214, 211, 209);
  --ring: rgb(99, 102, 241);
  --radius: 1.25rem;
  --shadow-md:
    2px 2px 10px 4px hsl(240 4% 60% / 0.18),
    2px 2px 4px 3px hsl(240 4% 60% / 0.18);
  --shadow-lg:
    2px 2px 10px 4px hsl(240 4% 60% / 0.18),
    2px 4px 6px 3px hsl(240 4% 60% / 0.18);
}

:root.dark {
  --background: rgb(30, 27, 24);
  --foreground: rgb(226, 232, 240);
  --card: rgb(44, 40, 37);
  --card-foreground: rgb(226, 232, 240);
  --popover: rgb(44, 40, 37);
  --popover-foreground: rgb(226, 232, 240);
  --primary: rgb(129, 140, 248);
  --primary-foreground: rgb(30, 27, 24);
  --secondary: rgb(58, 54, 51);
  --secondary-foreground: rgb(209, 213, 219);
  --muted: rgb(44, 40, 37);
  --muted-foreground: rgb(156, 163, 175);
  --accent: rgb(72, 68, 65);
  --accent-foreground: rgb(209, 213, 219);
  --destructive: rgb(239, 68, 68);
  --destructive-foreground: rgb(30, 27, 24);
  --border: rgb(58, 54, 51);
  --input: rgb(58, 54, 51);
  --ring: rgb(129, 140, 248);
  --radius: 1.25rem;
  --shadow-md:
    2px 2px 10px 4px hsl(0 0% 0% / 0.18), 2px 2px 4px 3px hsl(0 0% 0% / 0.18);
  --shadow-lg:
    2px 2px 10px 4px hsl(0 0% 0% / 0.18), 2px 4px 6px 3px hsl(0 0% 0% / 0.18);
}
/* ==========
RESET
========== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  background-color: var(--background);
  color: var(--foreground);
  color-scheme: dark light;
}

body {
  min-height: 100vh;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

img,
picture,
svg,
video {
  display: block;
  width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
