---
import { Button } from "@/components/ui/button.tsx";
---

<section class="space-y-10">
  <div class="space-y-1 slide-left">
    <h1 class="text-4xl font-bold bg-gradient-to-r from-[#d0486e] to-[#7560c9] bg-clip-text text-transparent">
      Neil Francis Palmares
    </h1>
    <p class="text-gray-600 dark:text-gray-400">
      Tech Enthusiast | Web Development & DevOps
    </p>
    <p class="text-gray-600 dark:text-gray-400">
      Bacoor City, Cavite, Philippines
    </p>
  </div>

  <div class="space-y-3 slide-right">
    <h2 class="text-lg font-semibold">
      Crafting Web Experiences & Exploring Cloud Tech
    </h2>

    <p class="text-gray-600 text-sm dark:text-gray-400 max-w-2xl">
      I&apos;m a Computer Science graduate with a strong passion for web
      development. During my thesis, I honed my skills in frontend
      development using React.js, where I fell in love with building
      intuitive and dynamic user interfaces. I primarily develop in Linux
      using Tmux and Neovim but am flexible and comfortable working with
      Windows and Visual Studio Code when needed.
    </p>

    <p class="text-gray-600 text-sm dark:text-gray-400 max-w-2xl">
      While my main focus is on frontend development with React, I&apos;m
      eager to expand my skills into backend development using JavaScript,
      TypeScript, or GoLang. Additionaly, I&apos;m highly interested in
      DevOps and cloud infrastructure, aiming to build scalable and
      efficient solutions in the future. I also have experience with C#,
      Java, and Python from my college courses, making me adaptable to
      different tech stacks.
    </p>
  </div>

  <div class="flex items-center gap-3 slide-left">
    <a href="" target="_blank" rel="noopener noreferrer" aria-label="See Resumé">
      <Button className="rounded-full bg-gradient-to-r from-[#d0486e] to-[#7560c9] text-white transition-transform hover:scale-105 cursor-pointer">
        Resumé
      </Button>
    </a>
    <a href="https://github.com/nnneninl" target="_blank" rel="noopener noreferrer" aria-label="GitHub Profile">
      <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 128 128"><path fill="currentColor" d="M64.053 1.559A63.73 63.73 0 0 0 .501 65.583a63.98 63.98 0 0 0 43.455 60.737c3.156.636 4.314-1.378 4.314-3.074c0-1.484-.105-6.571-.105-11.871c-17.677 3.816-21.359-7.633-21.359-7.633c-2.84-7.42-7.049-9.328-7.049-9.328c-5.787-3.922.42-3.922.42-3.922c6.419.424 9.785 6.572 9.785 6.572c5.682 9.753 14.837 6.997 18.52 5.301a13.64 13.64 0 0 1 3.998-8.586c-14.099-1.484-28.936-6.995-28.936-31.588a25.07 25.07 0 0 1 6.524-17.172c-.632-1.59-2.84-8.163.633-16.96c0 0 5.364-1.697 17.465 6.572a61 61 0 0 1 15.889-2.12a61 61 0 0 1 15.889 2.12c12.1-8.269 17.467-6.573 17.467-6.573c3.472 8.798 1.262 15.371.63 16.961a24.1 24.1 0 0 1 5.332 9.213a9.47 9.47 0 0 1 5.668-1.875a9.6 9.6 0 0 1 4.168.957l9.008 4.356a3.05 3.05 0 0 0 3.164-.317a3.05 3.05 0 0 0 1.166-2.959A63.57 63.57 0 0 0 64.055 1.558zm45.012 56.09a4.25 4.25 0 0 0-2.893 1.119c-.604.559-27.27 25.01-27.27 25.01l-11.81-9.012a2.85 2.85 0 0 0-3.657.162l-3.789 3.465a2.9 2.9 0 0 0-.937 2.13a2.9 2.9 0 0 0 .933 2.13l10.242 9.392l-10.242 9.39a2.89 2.89 0 0 0-.69 3.294c.162.367.4.696.694.967l3.79 3.465a2.85 2.85 0 0 0 3.655.162l11.811-9.01s26.665 24.45 27.27 25.01a4.24 4.24 0 0 0 4.729.691l14.164-6.85a4.33 4.33 0 0 0 2.436-3.896V68.821a4.33 4.33 0 0 0-2.436-3.894l-14.164-6.85a4.24 4.24 0 0 0-1.836-.428m1.248 18.7v31.392L89.741 92.046l20.572-15.695z"/></svg>
    </a>
    <a href="https://www.linkedin.com/in/neil-francis-m-palmares" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn Profile">
      <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 128 128"><path fill="currentColor" d="M116 3H12a8.91 8.91 0 0 0-9 8.8v104.42a8.91 8.91 0 0 0 9 8.78h104a8.93 8.93 0 0 0 9-8.81V11.77A8.93 8.93 0 0 0 116 3M39.17 107H21.06V48.73h18.11zm-9-66.21a10.5 10.5 0 1 1 10.49-10.5a10.5 10.5 0 0 1-10.54 10.48zM107 107H88.89V78.65c0-6.75-.12-15.44-9.41-15.44s-10.87 7.36-10.87 15V107H50.53V48.73h17.36v8h.24c2.42-4.58 8.32-9.41 17.13-9.41C103.6 47.28 107 59.35 107 75z"/></svg>
    </a>
    <a href="mailto:nnneninl@proton.me" target="_blank" rel="noopener noreferrer" aria-label="Email Contact">
      <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><path fill="currentColor" d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7c22.4 17.4 52.1 39.5 154.1 113.6c21.1 15.4 56.7 47.8 92.2 47.6c35.7.3 72-32.8 92.3-47.6c102-74.1 131.6-96.3 154-113.7M256 320c23.2.4 56.6-29.2 73.4-41.4c132.7-96.3 142.8-104.7 173.4-128.7c5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9c30.6 23.9 40.7 32.4 173.4 128.7c16.8 12.2 50.2 41.8 73.4 41.4"/></svg>
    </a>
  </div>
</section>

<style>
  @keyframes fadeInSlideRight {
    from {
      opacity: 0;
      transform: translateX(100px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fadeInSlideLeft {
    from {
      opacity: 0;
      transform: translateX(-100px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .slide-left {
    animation: fadeInSlideRight 1s ease-out forwards;
  }

  .slide-right {
    animation: fadeInSlideLeft 1s ease-out forwards;
  }
</style>
