---
---

<section class="space-y-8 slide-up">
  <h2 class="text-3xl font-semibold bg-gradient-to-r from-[#d0486e] to-[#7560c9] bg-clip-text text-transparent inline-block">
    Education
  </h2>

  <div class="space-y-2">
    <div class="flex items-center justify-between">
      <div class="space-y-1">
        <p class="text-gray-600 dark:text-gray-400 text-sm">
          2020 - 2024
        </p>
        <p class="font-medium">Computer Science</p>
        <p class="text-[#7560c9]">Central Philippine University</p>
      </div>
    </div>
    <p class="text-gray-600 dark:text-gray-400 text-sm">
      I graduated with a Bachelor of Science in Computer Science from
      Central Philippine University, where I specialized in Software
      Development in C#. My coursework also covered basic networking
      engineering, basic electronics and logic, database management, systems
      analysis, and software engineering. I particularly excelled in Web
      Development-related courses, which fueled my passion for building
      scalable and dynamic web applications.
    </p>
  </div>
</section>

<style>
  @keyframes fadeInSlideUp {
    from {
      opacity: 0;
      transform: translateY(100px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .slide-up {
    animation: fadeInSlideUp 1s ease-out forwards;
  }
</style>
