---
import Header from "@/components/Header.astro";
import Layout from "@/layouts/Layout.astro";
import AboutMe from "@/components/sections/AboutMe.astro";
import Experiences from "@/components/sections/Experiences.astro";
import Education from "@/components/sections/Education.astro";
---

<Layout>
  <div class="mx-auto max-w-xl px-4 py-20">
    <Header />
      <main class="space-y-10">
        <AboutMe />
        <Experiences />
        <Education />
      </main>
  </div>
</Layout >
