---
import ThemeToggle from "./ThemeToggle.astro";
---

<header>
  <div class="avatar">NF</div>
  <ThemeToggle />
</header>

<style>
  header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
  }

  .avatar {
    align-items: center;
    background: linear-gradient(to right, #d0486e, #7560c9);
    border-radius: 100%;
    display: flex;
    font-size: 1.25rem;
    font-weight: bold;
    height: 5rem;
    justify-content: center;
    overflow: hidden;
    width: 5rem;
  }
</style>
